html,body{
    height: 100%;
    margin: 0;
    background: rgb(2,0,36);
    background-color: #fff;

}
.myForm {
    background-color: #191f22;
    padding: 15px !important;
    border-radius: 15px !important;
    color: #fefefe;
    border-color: black;
}

input{
    border-radius:0 15px 15px 0 !important;

}
.card-footer {
    width: 305px;
}
input:focus{
    outline: none;
    box-shadow:none !important;
    border:1px solid red !important;
}
textarea:focus{
    outline: none;
    box-shadow:none !important;
    border:1px solid red !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.br-15{
border-radius: 15px 0 0 15px !important;
}
#label{
background-color:black;
color:#fff;
}
#remove_more{
color: white;
background-color: #fc5c65;
border-radius: 15px ;
display: none;

}
#myF{
width: 90%;  
}

.submit_btn{
border-radius: 15px !important;
background-color: #95c714 !important;
border: 0 !important;
}
.card-footer{
display:flex;
justify-content: center;
}
.card.float-left {
width: 100%;
}
.buttons{
display: flex;
justify-content: flex-end;

}
td{
color:#fff;
background-color:black;
}
h5.card-title.text-center {
    color: #d3bfcd;
    font-stretch: initial;
    font-style: italic;
    font-family: fantasy;
    font-size: 30px;
}
div#nm {
    display: flex;
    justify-content: center;
    margin-top: 19px;
}
.body{
    width: 1093px;
    background-color: #191f22;
    color: #fff;
    border-radius: 32px;
}
#myInfo {
    margin-left: 30%;
    background-color: #B07296;
    margin-top: 10%;
}
nav.navbar.navbar-expand.navbar-dark.bg-dark.shadow-sm {
    border-style: groove;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-color: #fff;
}
.input-group {
    width: 308px;
}
.col-md-6.col-md-offset-3.center {
    margin-left: 40%;
}
img#imageProfile {
    width: 337px;
    height: 333px;
}
button#fakebtn {
    margin-left: 126%;
    margin-top: 15%;
}   
p#namefile {
    width: 116%;
    margin-left: 90%;
    
} 
#myInfoP {
    margin-left: 16%;
    background-color: #080808;
    margin-top: 10%;
    border: 0;
    width: 60%;
}
.d-flex.justify-content-center {
    margin-top: 110px;
}
.myFormP {
    background-color: #191f22;
    padding: 15px !important;
    border-radius: 15px !important;
    color: white;
    border-color: #040404;
    width: 100%;
    margin-top: 5px;
}
    img#imgS {
        height: 320px;
        margin-left: 340px;
        margin-right: 0px;
        width: 360px;
    
}
.circle-table {
    padding: 5px 22px !important;
    border-radius: 5px;
}

.btn-warning {
    color: #212529;
    background-color: #ffc107;
    border-color: #ffc107;
}
.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}
div#imagen {
    width: 15%;
}